* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    padding: 0;
    display: flex;
    justify-content: center;
}

.app-download img {
    width: 95%;
    max-width: 12rem;
    max-height: 10rem;
}

.download {
    margin-top: 1.2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 1.3rem 0;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;  
    width: 80%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
    text-align: center;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group:nth-child(2) {
    margin-top: .6rem;
}

.instagram-continue {
    display: flex;
    justify-content: space-around;/*vertical por causa do flex-direction*/
    flex-direction: column;
    width: 40%;
    min-height: 34rem;
}

.instagram-login {
    margin-top: 2rem;
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logo {
    width: 100%;
    margin-top: .5rem;
    max-width: 13rem;
    max-height: 5rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 2rem;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.instagram-phone img {
    height: 42rem;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100vh;
    max-width: 64rem;
}

.link-blue {
    color: #0095f6;
}

.not-account {
    color: rgb(160, 160, 160);
}

.not-account:nth-child(2) {
    margin-top: .5rem;
}

.profile-photo {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 7rem;
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .download {
        justify-content: space-around;
    }

    .instagram-wrapper {        
    justify-content: center;
}
   
    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .group {
        border: 1px solid transparent;
    }
}

@media (max-width: 250px) {
    .not-account span {
        display: flex;
    }
}


